<launch>
    <!-- Запуск симулятора черепахи -->
    <node pkg="turtlesim" type="turtlesim_node" name="simulator" output="screen"/>
    
    <!-- Запуск управления с клавиатуры -->
    <node pkg="turtlesim" type="turtle_teleop_key" name="keyboard" output="screen">
        <remap from="turtle1/cmd_vel" to="simulator/turtle1/cmd_vel"/>
    </node>
    
    <!-- Запуск TF broadcaster для первой черепахи -->
    <node pkg="study_pkg" type="turtle_tf_broadcaster.py" name="turtle1_tf_broadcaster" output="screen">
        <param name="turtle_tf_name" value="turtle1" />
        <remap from="input_pose" to="turtle1/pose" />
    </node>
</launch>