<?xml version="1.0"?>
<launch>
  <!-- Базовый запуск Gazebo с TurtleBot3 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Загрузка модели TurtleBot3 -->
  <param name="robot_description" 
         command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro'" />

  <!-- Спавн робота в симуляции -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -model turtlebot3 -param robot_description -x 0 -y 0 -z 0.1"
        respawn="false" output="screen" />

  <!-- Публикация состояний робота -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
</launch>