<launch>
    <!-- Аргументы для управления поведением -->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    
    <!-- Управление запуском RViz -->
    <arg name="rviz" default="false" />
    <arg name="rviz_config" default="$(find study_pkg)/rviz/sim_initial.rviz" />
    
    <!-- 1. Запуск симуляции TurtleBot3 -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
        <arg name="model" value="$(arg model)" />
    </include>
    
    <!-- 2. Публикация информации о расположении частей робота -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>
    
    <!-- 3. УБРАН СТАТИЧЕСКИЙ TF - он уже есть в turtlebot3_gazebo -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_scan" 
          args="0 0 0.1 0 0 0 base_footprint base_scan 100" /> -->
    
    <!-- 4. УСЛОВНЫЙ запуск Rviz -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" 
          args="-d $(arg rviz_config)" required="true" />

</launch>