<?xml version="1.0"?>
<launch>
    <!-- Аргументы -->
    <arg name="model" default="burger"/>
    
    <!-- Запуск симуляции БЕЗ Rviz -->
    <include file="$(find study_pkg)/launch/turtlebot3_sim_start_fake.launch">
        <arg name="rviz" value="false"/>
        <arg name="model" value="$(arg model)"/>
    </include>

    <!-- Запуск gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen">
        <param name="base_frame" value="base_footprint"/>
        <param name="odom_frame" value="odom"/>
        <param name="map_frame" value="map"/>
        <param name="map_update_interval" value="2.0"/>
        <param name="maxUrange" value="3.5"/>
        <param name="particles" value="30"/>
        <param name="linearUpdate" value="0.5"/>
        <param name="angularUpdate" value="0.436"/>
    </node>

    <!-- Запуск Rviz с конфигурацией для mapping -->
    <node pkg="rviz" type="rviz" name="rviz" 
          args="-d $(find study_pkg)/rviz/sim_mapping.rviz"/>
</launch>